<div class="card">
  <div class="character">
    <img src="{{ character.pictures.length > 0 ? character.pictures[0].url : '' }}" alt="{{ character.name }}">
  </div>
  <div class="status">
    <p>Name: {{ character.name }}</p>
    <span>Age: {{ character.age }}</span>
    <span>Job: {{ character.job }}</span>
    <span>Origin: {{ character.origin }}</span>
    <span>Race: {{ character.race }}</span>
  </div>
  <div class="info">
    {{ character.description }}
  </div>
  <hr class="line">
</div>
