.container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  width: 80vw;
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #656565;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
